*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
h2,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

header{
    padding: 40px 60px;
    background: hsl(193, 100%, 96%) url('images/bg-hero-desktop.png');
}
.logo{
    display: flex;
    justify-content:space-between;
}
.logo img{
    width:200px;
    height: 30px;
}
#btn1{    
    background-color: #fff;
    padding: 10px 60px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
}
.header-sec{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: center;
}
#header-text{
width: 45%;
padding-right: 40px;
}
#header-text h2{
    font-size: 30px;
}
#header-text p{
    margin-top: 30px;
    font-size: 16px;
}
#header-img{
    width: 55%;
}
#header-img img{
    width: 100%;
}
.btn2{
    background-color:hsl(322, 100%, 66%); 
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    color:#fff;
    margin-top: 30px;
    width: 50%;
    text-align: center;
}
main{
    
    padding: 70px 60px 20px;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature{
    width: 100%;
    height: 420px;
    border: 4px solid #eee;
    border-radius: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px 20px;
    margin-top: 30px;
}
.sec-img{
    width: 50%;
    height: 100%;
    margin: 0 20px;
}

.sec-img img{
    width: 100%;
    height: 100%;
}
.sec-text{
width: 50%;
padding: 0 20px;
margin: 0 40px;
}
.sec-text p{
    margin-top: 20px;
    font-size: 15px;
    width: 70%;
}
#community{
    margin: 80px 180px 0;
    border: 4px solid #eee;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:85px;
}
footer{

    padding:100px 60px 60px 80px;
    background-color:#000;
    color:#fff;
    font-size: 1.4rem;
    border-top: 1px solid rgb(28,32,34);
    font-size: 11px;
}

#col1,#col2,#col3,#col4{
    display: inline-block;    
}
#footer-logo{
    margin-bottom: 30px;
}
#footer-logo img{
    width: 130px;
    height: 30px;
    
}
#col1{
    width:35%;
    vertical-align: top;
}
#col2,#col3,#col4{    
    width:20%;
    vertical-align: top;
}


.fab{
    color:#fff;
    padding: 6px;
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 9px;
}

.footer-icon img{
    width:10px;
    height: 10px;     
    margin-right: 10px;
    
}
.footer-icon,.footer-text{
    display: inline-block;    
    vertical-align: top;
    margin-bottom: 20px;
}


#col2 ul li, #col3 ul li{
    list-style-type: none;
    margin-bottom: 10px;
    
}
#col2 ul li a, #col3 ul li a{
    color:#fff;
    font-size: 11px;
    text-decoration: none;
}
#copyright{
    float: right;
    margin-right: 60px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
   
  }
  @media screen and (max-width: 720px) and (min-width: 300px) {
    header{
        padding: 20px;
        width: 100%;
        background: hsl(193, 100%, 96%) url('images/bg-hero-mobile.png');
    }
    .logo img{
        width:100px;
        height: 20px;
    }
    #btn1{
        padding: 10px 20px;
        font-size: 12px;
    }
    .header-sec{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: 40px 0;
        align-items: center;
    }
    #header-text{
        width: 100%;
        padding-right: 0;
    }

    #header-text h2{
        font-size: 26px;
    }
    #header-text p{
        text-align: center;
    }
    .btn2{
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }
    #header-img{
        width: 100%;
        margin-top: 60px;
    }
    .feature{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        border: none;
        -webkit-box-shadow: 10px 10px 5px -5px rgba(240,232,240,1);
        -moz-box-shadow: 10px 10px 5px -5px rgba(240,232,240,1);
        box-shadow: 10px 10px 5px -5px rgba(240,232,240,1);
    }
    .sec1{
        flex-direction: column-reverse;
    }
    main{
        padding: 60px 10px;
    }
    .sec-img{
        width: 100%;
        margin: 0;
    }   
    .sec-text{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    }
    .sec-text p{
        width: 100%;
    }
    #community{
        width: 100%;
        margin: 0;
        padding: 50px 20px 40px;
        font-size: 10px;
        position: relative;
        top:130px;
        border: 0;
        box-shadow: 0 -5px 5px -5px rgb(209, 207, 207);
    }
    footer{
        padding: 140px 20px 50px;
        font-size: 11px;
        height: auto;
    }
    #col1,#col2,#col3,#col4{
        display: block; 
        width:100%;   
    }
    #col1{
        margin-bottom: 40px;
        line-height: 2;
    }
    #col4{
        text-align: center;
        margin-top: 60px;
    }
    #copyright{
        text-align: center;
        margin-top: 30px;
        margin-right: 0;
        float: none;
        
    }
  }